@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #575756;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, label { color: #575756; }

label {
  font-size: 1rem;
  font-weight: 500;
}

p { font-family: 'Roboto', sans-serif; }


h1, h2, h3, h4, h5, h6 { font-family: 'Poppins', sans-serif; }

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 { font-size: 3rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }