@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --unahurBlack: #575756;
  --unahurBlue: #0089CD;
  --unahurCyan: #06A3C9;
  --unahurCyanHover: #06A3C922;
  --unahurGreen: #56A42C;
  --unahurGreenAlt: #56A42C22;
  --unahurGrey: #CECECE;
  --unahurOrange: #F08100;
  --unahurRed: #E74924;
  --unahurRedAlt: #EA4F51;
  --unahurSoftGrey: #F1F1F1;
  --unahurSoftWhite: #FAFAFA;
  --unahurWhite: #FFFFFF;
  --box-shadow: 5px 10px 25px 0px #00000026;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 0.875rem;
  font-family: 'Roboto', sans-serif;
}

a { user-select: none !important; }

.only-mobile { display: block !important; }
.tablet { display: none !important; }
.desktop { display: none !important; }

@media (min-width: 768px) {
  *,
  *::after,
  *::before,
  label,
  p {
    font-size: 1rem;
  }

  .only-mobile { display: none !important; }
  .tablet { display: block !important; }
  .desktop { display: none !important; }
}

@media (min-width: 1024px) {
  *,
  *::after,
  *::before,
  label,
  p {
    font-size: 1.125rem;
  }

  .only-mobile { display: none !important; }
  .tablet { display: block !important; }
  .desktop { display: block !important; }
}

html {
  width: 100%;
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--unahurSoftGrey);
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, label { color: var(--unahurBlack); }
h1, h2, h3, h4, h5, h6 { font-family: 'Poppins', sans-serif; font-weight: 500; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6, label {
  font-size: 0.6875rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.hide { display: none !important; }